# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
/sm64compress
/n64cksum
/mipsdisasm
/sm64extend
/f3d
/f3d2obj
/sm64geo
/n64graphics
/mio0
/n64split
/sm64walk
/elfdump

# Makefile dependencies
*.d
