// ROM splitter configuration file
name = "Blast Corps (U)";

// checksums from ROM header offsets 0x10 and 0x14
// used for auto configuration detection
checksum1 = 0x7C647E65;
checksum2 = 0x1948D305;

// base filename used for outputs (please, no spaces)
basename = "blast_corps.u";

// memory map from KSEG0 RAM addresses to ROM offsets
// these were decoded from DMA accesses
memory =
(
   // start     end         ram-to-rom
   (0x8021ED00, 0x8031ECFF, 0x8021DD00) // 001000-100FFF 100000
);

// ranges to split the ROM into
// types:
//   asm      - MIPS assembly block.  Symbol names are in 'labels' list below
//   behavior - behavior script
//   bin      - raw binary, usually data
//   header   - ROM header block
//   instrset - instrument set
//   level    - level commands
//   m64      - M64 music sequence bank
//   mio0     - MIO0 compressed data block.  may have texture breakdown
//   ptr      - RAM address or ROM offset pointer
//
//   textures types:
//      rgba   - 32/16 bit RGBA (5-5-5-1/8-8-8-8)
//      ia     - 16/8/4/1-bit greyscale
//      skybox - grid of 32x32 16-bit RGBA
ranges =
(
   // start,  end,      type,     label
   (0x000000, 0x000040, "header", "header"),
   (0x000040, 0x001000, "bin",    "boot"),
   (0x001000, 0x004A3C, "asm"),
   (0x487050, 0x489E70, "gzip",   "titlelogo_usa.raw", (
      (0x00000, "rgba", 16, 280, 64))
   ),
   (0x489E70, 0x48F5A0, "gzip",   "titlepicture_usa.raw", (
      (0x00000, "rgba", 16, 156, 156))
   ),
   (0x48F5A0, 0x48F970, "gzip",   "nink.raw", (
      (0x00000, "ia",  8, 256, 32))
   ),
   (0x48F970, 0x48FA70, "gzip",   "64k.raw", (
      (0x00000, "ia",  8,  40, 24))
   ),
   (0x48FA70, 0x48FE90, "gzip",   "copyrightLogo.raw", (
      (0x00000, "ia",  8, 256, 16))
   ),
   (0x48FE90, 0x490191, "gzip",   "scientist.raw"),
   (0x490191, 0x4903C0, "gzip",   "scientist_dl.raw"),
   (0x4903C0, 0x49084A, "gzip",   "commpoint.raw"),
   (0x49084A, 0x490AC0, "gzip",   "commpoint_dl.raw"),
   (0x490AC0, 0x49181C, "gzip",   "buggy.raw"),
   (0x49181C, 0x491E00, "gzip",   "buggy_dl.raw"),
   (0x491E00, 0x4926D8, "gzip",   "driver.raw"),
   (0x4926D8, 0x4929D0, "gzip",   "driver_dl.raw"),
   (0x4929D0, 0x493CE8, "gzip",   "sideswipe.raw"),
   (0x493CE8, 0x494390, "gzip",   "sideswipe_dl.raw"),
   (0x494390, 0x4962CC, "gzip",   "magoo.raw"),
   (0x4962CC, 0x496AD0, "gzip",   "magoo_dl.raw"),
   (0x496AD0, 0x49763A, "gzip",   "bulldozer.raw"),
   (0x49763A, 0x497AF0, "gzip",   "bulldozer_dl.raw"),
   (0x497AF0, 0x498553, "gzip",   "truck.raw"),
   (0x498553, 0x4989E0, "gzip",   "truck_dl.raw"),
   (0x4989E0, 0x4992A1, "gzip",   "chopper.raw"),
   (0x4992A1, 0x499690, "gzip",   "chopper_dl.raw"),
   (0x499690, 0x49A65F, "gzip",   "cmo.raw"),
   (0x49A65F, 0x49AD20, "gzip",   "cmo_dl.raw"),
   (0x49AD20, 0x49B375, "gzip",   "crane.raw"),
   (0x49B375, 0x49B630, "gzip",   "crane_dl.raw"),
   (0x49B630, 0x49BAE1, "gzip",   "train.raw"),
   (0x49BAE1, 0x49BCE0, "gzip",   "train_dl.raw"),
   (0x49BCE0, 0x49C1A0, "gzip",   "hotrod.raw"),
   (0x49C1A0, 0x49C480, "gzip",   "hotrod_dl.raw"),
   (0x49C480, 0x49E06C, "gzip",   "jetpack.raw"),
   (0x49E06C, 0x49E8E0, "gzip",   "jetpack_dl.raw"),
   (0x49E8E0, 0x49F314, "gzip",   "bike.raw"),
   (0x49F314, 0x49F7A0, "gzip",   "bike_dl.raw"),
   (0x49F7A0, 0x49FCA5, "gzip",   "barge.raw"),
   (0x49FCA5, 0x49FF70, "gzip",   "barge_dl.raw"),
   (0x49FF70, 0x4A0406, "gzip",   "police.raw"),
   (0x4A0406, 0x4A0720, "gzip",   "police_dl.raw"),
   (0x4A0720, 0x4A0CEF, "gzip",   "ateam.raw"),
   (0x4A0CEF, 0x4A1000, "gzip",   "ateam_dl.raw"),
   (0x4A1000, 0x4A13D6, "gzip",   "starski.raw"),
   (0x4A13D6, 0x4A1690, "gzip",   "starski_dl.raw"),
   (0x4A1690, 0x4A37E2, "gzip",   "minimagoo.raw"),
   (0x4A37E2, 0x4A4120, "gzip",   "minimagoo_dl.raw"),
   (0x4A4120, 0x4A4F6D, "gzip",   "shuttle.raw"),
   (0x4A4F6D, 0x4A5660, "gzip",   "shuttle_dl.raw"),
   (0x4A5660, 0x4ABF91, "gzip",   "lagp.raw"),
   (0x4ABF91, 0x4ACC10, "gzip",   "lagp_dl.raw"),
   (0x4ACC10, 0x4B71AB, "gzip",   "chimp.raw"),
   (0x4B71AB, 0x4B8960, "gzip",   "chimp_dl.raw"),
   (0x4B8960, 0x4BEDE5, "gzip",   "valley.raw"),
   (0x4BEDE5, 0x4BFD60, "gzip",   "valley_dl.raw"),
   (0x4BFD60, 0x4C3247, "gzip",   "fact.raw"),
   (0x4C3247, 0x4C3AC0, "gzip",   "fact_dl.raw"),
   (0x4C3AC0, 0x4D3B76, "gzip",   "dip.raw"),
   (0x4D3B76, 0x4D5F90, "gzip",   "dip_dl.raw"),
   (0x4D5F90, 0x4E1838, "gzip",   "beetle.raw"),
   (0x4E1838, 0x4E2F70, "gzip",   "beetle_dl.raw"),
   (0x4E2F70, 0x4E48E4, "gzip",   "bonus1.raw"),
   (0x4E48E4, 0x4E4E80, "gzip",   "bonus1_dl.raw"),
   (0x4E4E80, 0x4E7458, "gzip",   "bonus2.raw"),
   (0x4E7458, 0x4E7C00, "gzip",   "bonus2_dl.raw"),
   (0x4E7C00, 0x4E8BF7, "gzip",   "bonus3.raw"),
   (0x4E8BF7, 0x4E8F70, "gzip",   "bonus3_dl.raw"),
   (0x4E8F70, 0x4F441E, "gzip",   "level9.raw"),
   (0x4F441E, 0x4F5C10, "gzip",   "level9_dl.raw"),
   (0x4F5C10, 0x4FF4C1, "gzip",   "level10.raw"),
   (0x4FF4C1, 0x500520, "gzip",   "level10_dl.raw"),
   (0x500520, 0x506D73, "gzip",   "level11.raw"),
   (0x506D73, 0x507E80, "gzip",   "level11_dl.raw"),
   (0x507E80, 0x51014A, "gzip",   "level12.raw"),
   (0x51014A, 0x511340, "gzip",   "level12_dl.raw"),
   (0x511340, 0x5213B7, "gzip",   "level13.raw"),
   (0x5213B7, 0x523080, "gzip",   "level13_dl.raw"),
   (0x523080, 0x52B974, "gzip",   "level14.raw"),
   (0x52B974, 0x52CD00, "gzip",   "level14_dl.raw"),
   (0x52CD00, 0x531885, "gzip",   "level15.raw"),
   (0x531885, 0x532700, "gzip",   "level15_dl.raw"),
   (0x532700, 0x53D32E, "gzip",   "level16.raw"),
   (0x53D32E, 0x53E9B0, "gzip",   "level16_dl.raw"),
   (0x53E9B0, 0x54909A, "gzip",   "level17.raw"),
   (0x54909A, 0x54A820, "gzip",   "level17_dl.raw"),
   (0x54A820, 0x551DAA, "gzip",   "level18.raw"),
   (0x551DAA, 0x552DE0, "gzip",   "level18_dl.raw"),
   (0x552DE0, 0x554A33, "gzip",   "level19.raw"),
   (0x554A33, 0x555000, "gzip",   "level19_dl.raw"),
   (0x555000, 0x55F205, "gzip",   "level20.raw"),
   (0x55F205, 0x560E90, "gzip",   "level20_dl.raw"),
   (0x560E90, 0x5646CB, "gzip",   "level21.raw"),
   (0x5646CB, 0x5652D0, "gzip",   "level21_dl.raw"),
   (0x5652D0, 0x56E0F7, "gzip",   "level22.raw"),
   (0x56E0F7, 0x56F3F0, "gzip",   "level22_dl.raw"),
   (0x56F3F0, 0x571E88, "gzip",   "level23.raw"),
   (0x571E88, 0x5721E0, "gzip",   "level23_dl.raw"),
   (0x5721E0, 0x573354, "gzip",   "level24.raw"),
   (0x573354, 0x5736E0, "gzip",   "level24_dl.raw"),
   (0x5736E0, 0x5795B8, "gzip",   "level25.raw"),
   (0x5795B8, 0x57A2C0, "gzip",   "level25_dl.raw"),
   (0x57A2C0, 0x58005F, "gzip",   "level26.raw"),
   (0x58005F, 0x580B60, "gzip",   "level26_dl.raw"),
   (0x580B60, 0x587CA0, "gzip",   "level27.raw"),
   (0x587CA0, 0x588CE0, "gzip",   "level27_dl.raw"),
   (0x588CE0, 0x58B53D, "gzip",   "level28.raw"),
   (0x58B53D, 0x58BE80, "gzip",   "level28_dl.raw"),
   (0x58BE80, 0x596201, "gzip",   "level29.raw"),
   (0x596201, 0x597B80, "gzip",   "level29_dl.raw"),
   (0x597B80, 0x59AEC7, "gzip",   "level30.raw"),
   (0x59AEC7, 0x59B7D0, "gzip",   "level30_dl.raw"),
   (0x59B7D0, 0x5A4451, "gzip",   "level31.raw"),
   (0x5A4451, 0x5A5840, "gzip",   "level31_dl.raw"),
   (0x5A5840, 0x5AF6C1, "gzip",   "level32.raw"),
   (0x5AF6C1, 0x5B0B10, "gzip",   "level32_dl.raw"),
   (0x5B0B10, 0x5B4E60, "gzip",   "level33.raw"),
   (0x5B4E60, 0x5B5A30, "gzip",   "level33_dl.raw"),
   (0x5B5A30, 0x5B850E, "gzip",   "level34.raw"),
   (0x5B850E, 0x5B8BB0, "gzip",   "level34_dl.raw"),
   (0x5B8BB0, 0x5C366C, "gzip",   "level35.raw"),
   (0x5C366C, 0x5C4C80, "gzip",   "level35_dl.raw"),
   (0x5C4C80, 0x5C9D2D, "gzip",   "level36.raw"),
   (0x5C9D2D, 0x5CA9C0, "gzip",   "level36_dl.raw"),
   (0x5CA9C0, 0x5CC86E, "gzip",   "level37.raw"),
   (0x5CC86E, 0x5CCF50, "gzip",   "level37_dl.raw"),
   (0x5CCF50, 0x5D07B8, "gzip",   "level38.raw"),
   (0x5D07B8, 0x5D1060, "gzip",   "level38_dl.raw"),
   (0x5D1060, 0x5DB0FC, "gzip",   "level39.raw"),
   (0x5DB0FC, 0x5DC830, "gzip",   "level39_dl.raw"),
   (0x5DC830, 0x5E5B29, "gzip",   "level40.raw"),
   (0x5E5B29, 0x5E6EE0, "gzip",   "level40_dl.raw"),
   (0x5E6EE0, 0x5EB4C8, "gzip",   "level41.raw"),
   (0x5EB4C8, 0x5EC800, "gzip",   "level41_dl.raw"),
   (0x5EC800, 0x5F2C67, "gzip",   "level42.raw"),
   (0x5F2C67, 0x5F3A80, "gzip",   "level42_dl.raw"),
   (0x5F3A80, 0x5FFF79, "gzip",   "level43.raw"),
   (0x5FFF79, 0x6014B0, "gzip",   "level43_dl.raw"),
   (0x6014B0, 0x6095C1, "gzip",   "level44.raw"),
   (0x6095C1, 0x60A710, "gzip",   "level44_dl.raw"),
   (0x60A710, 0x6126C5, "gzip",   "level45.raw"),
   (0x6126C5, 0x613AA0, "gzip",   "level45_dl.raw"),
   (0x613AA0, 0x61C88C, "gzip",   "level46.raw"),
   (0x61C88C, 0x61DD70, "gzip",   "level46_dl.raw"),
   (0x61DD70, 0x6211ED, "gzip",   "level47.raw"),
   (0x6211ED, 0x621AF0, "gzip",   "level47_dl.raw"),
   (0x621AF0, 0x625CAC, "gzip",   "level48.raw"),
   (0x625CAC, 0x6269E0, "gzip",   "level48_dl.raw"),
   (0x6269E0, 0x62F871, "gzip",   "level49.raw"),
   (0x62F871, 0x630C30, "gzip",   "level49_dl.raw"),
   (0x630C30, 0x634D35, "gzip",   "level50.raw"),
   (0x634D35, 0x635700, "gzip",   "level50_dl.raw"),
   (0x635700, 0x63BD00, "gzip",   "level51.raw"),
   (0x63BD00, 0x63CA10, "gzip",   "level51_dl.raw"),
   (0x63CA10, 0x6416D6, "gzip",   "level52.raw"),
   (0x6416D6, 0x641F30, "gzip",   "level52_dl.raw"),
   (0x641F30, 0x6440CC, "gzip",   "level53.raw"),
   (0x6440CC, 0x644810, "gzip",   "level53_dl.raw"),
   (0x644810, 0x645D55, "gzip",   "level54.raw"),
   (0x645D55, 0x646080, "gzip",   "level54_dl.raw"),
   (0x646080, 0x6470B7, "gzip",   "level55.raw"),
   (0x6470B7, 0x647550, "gzip",   "level55_dl.raw"),
   (0x647550, 0x65362E, "gzip",   "level56.raw"),
   (0x65362E, 0x654FC0, "gzip",   "level56_dl.raw"),
   (0x654FC0, 0x65F329, "gzip",   "level57.raw"),
   (0x65F329, 0x660950, "gzip",   "level57_dl.raw"),
   (0x660950, 0x66550A, "gzip",   "level58.raw"),
   (0x66550A, 0x665F80, "gzip",   "level58_dl.raw"),
   (0x665F80, 0x66BB49, "gzip",   "level59.raw"),
   (0x66BB49, 0x66C900, "gzip",   "level59_dl.raw"),
   (0x66C900, 0x68B550, "gzip",   "worldtextures.raw", (
      //offset, type, depth,width,height
      // many RGBA16 textures here, some might be 17x17, others smaller
      // (0x00000, "rgba", 16, 17, 17),
      (0x3C4B0, "rgba", 16, 16, 16),
      (0x3C6B0, "rgba", 16, 16, 16),
      (0x3C8B0, "rgba", 16, 16, 16),
      (0x3CAB0, "rgba", 32, 32, 32),
      (0x3DAB0, "rgba", 32, 32, 32),
      (0x3EAB0, "rgba", 32, 32, 32),
      (0x3FAB0, "ia",   16, 32, 64),
      (0x40AB0, "ia",   16, 32, 64),
      (0x41AB0, "rgba", 32, 32, 32))
   ),
   (0x68B550, 0x6A32B0, "gzip",   "ambertextures.raw", (
      (0x00000, "rgba", 16, 160, 120),
      (0x09600, "rgba", 16, 160, 120),
      (0x12C00, "rgba", 16, 160, 120),
      (0x1C200, "rgba", 16, 160, 120))
   ),
   (0x6A32B0, 0x6A8DA0, "gzip",   "traffictextures.raw", (
      (0x00000, "rgba", 16, 256, 64),
      (0x08000, "rgba", 16, 256, 64),
      (0x10000, "rgba", 16, 256, 64),
      (0x18000, "rgba", 16, 256, 64),
      (0x20000, "rgba", 16, 256, 64))
   ),
   (0x6A8DA0, 0x6A9F10, "gzip",   "controllertextures.raw", (
      (0x00000, "rgba", 16, 80, 80),
      // might be some sort of IA here at 0x3200
      (0x034A0, "rgba", 16, 24, 20)) // not sure on starting address
   ),
   (0x6A9F10, 0x6E8980, "gzip",   "attract.raw"),
   (0x6E8980, 0x6EA1FE, "gzip",   "usa_star.raw"),
   (0x6EA1FE, 0x6EA850, "gzip",   "usa_star_dl.raw"),
   (0x6EA850, 0x6EAA25, "gzip",   "ninlogo.raw"),
   (0x6EAA25, 0x6EAB90, "gzip",   "ninlogo_dl.raw"),
   (0x6EAB90, 0x6EBDD4, "gzip",   "reflectlogo.raw"),
   (0x6EBDD4, 0x6ECCC0, "gzip",   "reflectlogo_dl.raw"),
   (0x6ECCC0, 0x6ED068, "gzip",   "lamisc1.raw"),
   (0x6ED068, 0x6ED1B8, "gzip",   "lamisc1_dl.raw"),
   (0x6ED1B8, 0x6ED622, "gzip",   "lapetrol1.raw"),
   (0x6ED622, 0x6ED7A0, "gzip",   "lapetrol1_dl.raw"),
   (0x6ED7A0, 0x6EDB42, "gzip",   "laburger1.raw"),
   (0x6EDB42, 0x6EDCAE, "gzip",   "laburger1_dl.raw"),
   (0x6EDCAE, 0x6EE3CC, "gzip",   "laorph6.raw"),
   (0x6EE3CC, 0x6EE647, "gzip",   "laorph6_dl.raw"),
   (0x6EE647, 0x6EEB0C, "gzip",   "lashop2.raw"),
   (0x6EEB0C, 0x6EECCB, "gzip",   "lashop2_dl.raw"),
   (0x6EECCB, 0x6EEEF1, "gzip",   "lamisc2.raw"),
   (0x6EEEF1, 0x6EEFE8, "gzip",   "lamisc2_dl.raw"),
   (0x6EEFE8, 0x6EF559, "gzip",   "lagrage4.raw"),
   (0x6EF559, 0x6EF7D5, "gzip",   "lagrage4_dl.raw"),
   (0x6EF7D5, 0x6EFAA4, "gzip",   "lamisc4.raw"),
   (0x6EFAA4, 0x6EFBF7, "gzip",   "lamisc4_dl.raw"),
   (0x6EFBF7, 0x6F0594, "gzip",   "laflat5.raw"),
   (0x6F0594, 0x6F08A8, "gzip",   "laflat5_dl.raw"),
   (0x6F08A8, 0x6F1116, "gzip",   "lawine5.raw"),
   (0x6F1116, 0x6F1407, "gzip",   "lawine5_dl.raw"),
   (0x6F1407, 0x6F1583, "gzip",   "lamisc5.raw"),
   (0x6F1583, 0x6F1662, "gzip",   "lamisc5_dl.raw"),
   (0x6F1662, 0x6F2161, "gzip",   "laflat3.raw"),
   (0x6F2161, 0x6F2570, "gzip",   "laflat3_dl.raw"),
   (0x6F2570, 0x6F269E, "gzip",   "lamisc3.raw"),
   (0x6F269E, 0x6F2750, "gzip",   "lamisc3_dl.raw"),
   (0x6F2750, 0x6F370C, "gzip",   "lashop8.raw"),
   (0x6F370C, 0x6F3BB5, "gzip",   "lashop8_dl.raw"),
   (0x6F3BB5, 0x6F424A, "gzip",   "laflat8.raw"),
   (0x6F424A, 0x6F4504, "gzip",   "laflat8_dl.raw"),
   (0x6F4504, 0x6F55BB, "gzip",   "labigo7.raw"),
   (0x6F55BB, 0x6F5BCD, "gzip",   "labigo7_dl.raw"),
   (0x6F5BCD, 0x6F5D45, "gzip",   "lanicl7.raw"),
   (0x6F5D45, 0x6F5E2F, "gzip",   "lanicl7_dl.raw"),
   (0x6F5E2F, 0x6F6749, "gzip",   "laflat7.raw"),
   (0x6F6749, 0x6F6A1D, "gzip",   "laflat7_dl.raw"),
   (0x6F6A1D, 0x6F6CE2, "gzip",   "laflat9.raw"),
   (0x6F6CE2, 0x6F6E23, "gzip",   "laflat9_dl.raw"),
   (0x6F6E23, 0x6F76F4, "gzip",   "laflt10.raw"),
   (0x6F76F4, 0x6F7A92, "gzip",   "laflt10_dl.raw"),
   (0x6F7A92, 0x6F8353, "gzip",   "laflt11.raw"),
   (0x6F8353, 0x6F86EB, "gzip",   "laflt11_dl.raw"),
   (0x6F86EB, 0x6F8FB0, "gzip",   "laorp12.raw"),
   (0x6F8FB0, 0x6F92B8, "gzip",   "laorp12_dl.raw"),
   (0x6F92B8, 0x6F9CF2, "gzip",   "laflt13.raw"),
   (0x6F9CF2, 0x6FA122, "gzip",   "laflt13_dl.raw"),
   (0x6FA122, 0x6FAC6A, "gzip",   "laflt14.raw"),
   (0x6FAC6A, 0x6FB09B, "gzip",   "laflt14_dl.raw"),
   (0x6FB09B, 0x6FB1E0, "gzip",   "lamsc14.raw"),
   (0x6FB1E0, 0x6FB293, "gzip",   "lamsc14_dl.raw"),
   (0x6FB293, 0x6FBCD1, "gzip",   "laflt15.raw"),
   (0x6FBCD1, 0x6FC0C8, "gzip",   "laflt15_dl.raw"),
   (0x6FC0C8, 0x6FC3AB, "gzip",   "lamsc16.raw"),
   (0x6FC3AB, 0x6FC4DF, "gzip",   "lamsc16_dl.raw"),
   (0x6FC4DF, 0x6FC6FC, "gzip",   "ladrm16.raw"),
   (0x6FC6FC, 0x6FC7FB, "gzip",   "ladrm16_dl.raw"),
   (0x6FC7FB, 0x6FC9D4, "gzip",   "laflt17.raw"),
   (0x6FC9D4, 0x6FCAE3, "gzip",   "laflt17_dl.raw"),
   (0x6FCAE3, 0x6FCF26, "gzip",   "chrod17.raw"),
   (0x6FCF26, 0x6FD0FD, "gzip",   "chrod17_dl.raw"),
   (0x6FD0FD, 0x6FD214, "gzip",   "chlx7a.raw"),
   (0x6FD214, 0x6FD2B5, "gzip",   "chlx7a_dl.raw"),
   (0x6FD2B5, 0x6FD9C0, "gzip",   "chsta5.raw"),
   (0x6FD9C0, 0x6FDC41, "gzip",   "chsta5_dl.raw"),
   (0x6FDC41, 0x6FEDC0, "gzip",   "chbar8.raw"),
   (0x6FEDC0, 0x6FF222, "gzip",   "chbar8_dl.raw"),
   (0x6FF222, 0x6FF41E, "gzip",   "chmisc8.raw"),
   (0x6FF41E, 0x6FF549, "gzip",   "chmisc8_dl.raw"),
   (0x6FF549, 0x6FF80A, "gzip",   "chwag8.raw"),
   (0x6FF80A, 0x6FF95A, "gzip",   "chwag8_dl.raw"),
   (0x6FF95A, 0x6FFE4A, "gzip",   "chshd6.raw"),
   (0x6FFE4A, 0x6FFFA3, "gzip",   "chshd6_dl.raw"),
   (0x6FFFA3, 0x7001E0, "gzip",   "chbog9.raw"),
   (0x7001E0, 0x7002FF, "gzip",   "chbog9_dl.raw"),
   (0x7002FF, 0x7004D5, "gzip",   "chbat6.raw"),
   (0x7004D5, 0x7005C4, "gzip",   "chbat6_dl.raw"),
   (0x7005C4, 0x7008D8, "gzip",   "chmisc6.raw"),
   (0x7008D8, 0x700A04, "gzip",   "chmisc6_dl.raw"),
   (0x700A04, 0x700C63, "gzip",   "chwin5.raw"),
   (0x700C63, 0x700D92, "gzip",   "chwin5_dl.raw"),
   (0x700D92, 0x70127C, "gzip",   "chbur9.raw"),
   (0x70127C, 0x70145C, "gzip",   "chbur9_dl.raw"),
   (0x70145C, 0x70172D, "gzip",   "chmisc9.raw"),
   (0x70172D, 0x7018B2, "gzip",   "chmisc9_dl.raw"),
   (0x7018B2, 0x702314, "gzip",   "chhse3.raw"),
   (0x702314, 0x702662, "gzip",   "chhse3_dl.raw"),
   (0x702662, 0x702878, "gzip",   "chmisc3.raw"),
   (0x702878, 0x702982, "gzip",   "chmisc3_dl.raw"),
   (0x702982, 0x7036F6, "gzip",   "chlfa12.raw"),
   (0x7036F6, 0x703A8E, "gzip",   "chlfa12_dl.raw"),
   (0x703A8E, 0x703EA0, "gzip",   "chmsc12.raw"),
   (0x703EA0, 0x70404B, "gzip",   "chmsc12_dl.raw"),
   (0x70404B, 0x704863, "gzip",   "chtra12.raw"),
   (0x704863, 0x704B87, "gzip",   "chtra12_dl.raw"),
   (0x704B87, 0x70541A, "gzip",   "chgin14.raw"),
   (0x70541A, 0x7056ED, "gzip",   "chgin14_dl.raw"),
   (0x7056ED, 0x706226, "gzip",   "chhar15.raw"),
   (0x706226, 0x7064D4, "gzip",   "chhar15_dl.raw"),
   (0x7064D4, 0x706D61, "gzip",   "chhor10.raw"),
   (0x706D61, 0x70705C, "gzip",   "chhor10_dl.raw"),
   (0x70705C, 0x7072CD, "gzip",   "lacar1.raw"),
   (0x7072CD, 0x70740E, "gzip",   "lacar1_dl.raw"),
   (0x70740E, 0x70766B, "gzip",   "docno1.raw"),
   (0x70766B, 0x7077C9, "gzip",   "docno1_dl.raw"),
   (0x7077C9, 0x707A1A, "gzip",   "docng1.raw"),
   (0x707A1A, 0x707B8F, "gzip",   "docng1_dl.raw"),
   (0x707B8F, 0x707E1F, "gzip",   "docnw1.raw"),
   (0x707E1F, 0x707FA7, "gzip",   "docnw1_dl.raw"),
   (0x707FA7, 0x708201, "gzip",   "moiron1.raw"),
   (0x708201, 0x70832E, "gzip",   "moiron1_dl.raw"),
   (0x70832E, 0x70919A, "gzip",   "truck4.raw"),
   (0x70919A, 0x709612, "gzip",   "truck4_dl.raw"),
   (0x709612, 0x70A39E, "gzip",   "trucker3US.raw"),
   (0x70A39E, 0x70A78E, "gzip",   "trucker3US_dl.raw"),
   (0x70A78E, 0x70B1BA, "gzip",   "chgun16.raw"),
   (0x70B1BA, 0x70B4DE, "gzip",   "chgun16_dl.raw"),
   (0x70B4DE, 0x70B7AC, "gzip",   "chmsc16.raw"),
   (0x70B7AC, 0x70B8BC, "gzip",   "chmsc16_dl.raw"),
   (0x70B8BC, 0x70BB7B, "gzip",   "chhut16.raw"),
   (0x70BB7B, 0x70BCA7, "gzip",   "chhut16_dl.raw"),
   (0x70BCA7, 0x70C4AD, "gzip",   "chhse17.raw"),
   (0x70C4AD, 0x70C6FD, "gzip",   "chhse17_dl.raw"),
   (0x70C6FD, 0x70C98F, "gzip",   "chgar17.raw"),
   (0x70C98F, 0x70CABD, "gzip",   "chgar17_dl.raw"),
   (0x70CABD, 0x70CFC1, "gzip",   "chgas17.raw"),
   (0x70CFC1, 0x70D144, "gzip",   "chgas17_dl.raw"),
   (0x70D144, 0x70D455, "gzip",   "chhut17.raw"),
   (0x70D455, 0x70D582, "gzip",   "chhut17_dl.raw"),
   (0x70D582, 0x70D68B, "gzip",   "chmsc17.raw"),
   (0x70D68B, 0x70D72D, "gzip",   "chmsc17_dl.raw"),
   (0x70D72D, 0x70DCD0, "gzip",   "chsha18.raw"),
   (0x70DCD0, 0x70DE68, "gzip",   "chsha18_dl.raw"),
   (0x70DE68, 0x70E06A, "gzip",   "chmsc18.raw"),
   (0x70E06A, 0x70E17E, "gzip",   "chmsc18_dl.raw"),
   (0x70E17E, 0x70E4A3, "gzip",   "chmsc19.raw"),
   (0x70E4A3, 0x70E5E9, "gzip",   "chmsc19_dl.raw"),
   (0x70E5E9, 0x70F0AB, "gzip",   "chhse18.raw"),
   (0x70F0AB, 0x70F3CF, "gzip",   "chhse18_dl.raw"),
   (0x70F3CF, 0x70F636, "gzip",   "chgar18.raw"),
   (0x70F636, 0x70F79D, "gzip",   "chgar18_dl.raw"),
   (0x70F79D, 0x710413, "gzip",   "chhse20.raw"),
   (0x710413, 0x710780, "gzip",   "chhse20_dl.raw"),
   (0x710780, 0x710BDF, "gzip",   "chmsc20.raw"),
   (0x710BDF, 0x710D6F, "gzip",   "chmsc20_dl.raw"),
   (0x710D6F, 0x711829, "gzip",   "chhse21.raw"),
   (0x711829, 0x711B30, "gzip",   "chhse21_dl.raw"),
   (0x711B30, 0x711CDD, "gzip",   "chmsc21.raw"),
   (0x711CDD, 0x711DE4, "gzip",   "chmsc21_dl.raw"),
   (0x711DE4, 0x7126FF, "gzip",   "chhot22.raw"),
   (0x7126FF, 0x712905, "gzip",   "chhot22_dl.raw"),
   (0x712905, 0x712AAA, "gzip",   "chmsc22.raw"),
   (0x712AAA, 0x712BAD, "gzip",   "chmsc22_dl.raw"),
   (0x712BAD, 0x713695, "gzip",   "chhse23.raw"),
   (0x713695, 0x71397B, "gzip",   "chhse23_dl.raw"),
   (0x71397B, 0x713B24, "gzip",   "chmsc23.raw"),
   (0x713B24, 0x713C2C, "gzip",   "chmsc23_dl.raw"),
   (0x713C2C, 0x7146F0, "gzip",   "chhse24.raw"),
   (0x7146F0, 0x7149CF, "gzip",   "chhse24_dl.raw"),
   (0x7149CF, 0x715777, "gzip",   "chbar25.raw"),
   (0x715777, 0x715AF2, "gzip",   "chbar25_dl.raw"),
   (0x715AF2, 0x715EC2, "gzip",   "chmsc25.raw"),
   (0x715EC2, 0x716012, "gzip",   "chmsc25_dl.raw"),
   (0x716012, 0x7161DD, "gzip",   "chmsc26.raw"),
   (0x7161DD, 0x7162E4, "gzip",   "chmsc26_dl.raw"),
   (0x7162E4, 0x7169D0, "gzip",   "chhut26.raw"),
   (0x7169D0, 0x716C27, "gzip",   "chhut26_dl.raw"),
   (0x716C27, 0x716EFD, "gzip",   "chmsc27.raw"),
   (0x716EFD, 0x717035, "gzip",   "chmsc27_dl.raw"),
   (0x717035, 0x71758E, "gzip",   "chhut27.raw"),
   (0x71758E, 0x717778, "gzip",   "chhut27_dl.raw"),
   (0x717778, 0x7179FE, "gzip",   "chmsc28.raw"),
   (0x7179FE, 0x717B16, "gzip",   "chmsc28_dl.raw"),
   (0x717B16, 0x7182CF, "gzip",   "chhse29.raw"),
   (0x7182CF, 0x718539, "gzip",   "chhse29_dl.raw"),
   (0x718539, 0x7189C4, "gzip",   "chhut30.raw"),
   (0x7189C4, 0x718B96, "gzip",   "chhut30_dl.raw"),
   (0x718B96, 0x7196B5, "gzip",   "chhse30.raw"),
   (0x7196B5, 0x7199BE, "gzip",   "chhse30_dl.raw"),
   (0x7199BE, 0x719C4E, "gzip",   "chmsc30.raw"),
   (0x719C4E, 0x719D66, "gzip",   "chmsc30_dl.raw"),
   (0x719D66, 0x71A711, "gzip",   "chhse31.raw"),
   (0x71A711, 0x71A9EA, "gzip",   "chhse31_dl.raw"),
   (0x71A9EA, 0x71ADAF, "gzip",   "chmsc31.raw"),
   (0x71ADAF, 0x71AF19, "gzip",   "chmsc31_dl.raw"),
   (0x71AF19, 0x71BB89, "gzip",   "chhse32.raw"),
   (0x71BB89, 0x71BEB8, "gzip",   "chhse32_dl.raw"),
   (0x71BEB8, 0x71C0C2, "gzip",   "chmsc32.raw"),
   (0x71C0C2, 0x71C1D1, "gzip",   "chmsc32_dl.raw"),
   (0x71C1D1, 0x71CCB5, "gzip",   "chhse33.raw"),
   (0x71CCB5, 0x71CFEF, "gzip",   "chhse33_dl.raw"),
   (0x71CFEF, 0x71D1BC, "gzip",   "chtreel.raw"),
   (0x71D1BC, 0x71D29A, "gzip",   "chtreel_dl.raw"),
   (0x71D29A, 0x71D46A, "gzip",   "chtrees.raw"),
   (0x71D46A, 0x71D545, "gzip",   "chtrees_dl.raw"),
   (0x71D545, 0x71E5FC, "gzip",   "labigo2.raw"),
   (0x71E5FC, 0x71EC0E, "gzip",   "labigo2_dl.raw"),
   (0x71EC0E, 0x71F689, "gzip",   "movan1.raw"),
   (0x71F689, 0x71FA92, "gzip",   "movan1_dl.raw"),
   (0x71FA92, 0x71FC2F, "gzip",   "mocono1.raw"),
   (0x71FC2F, 0x71FD4D, "gzip",   "mocono1_dl.raw"),
   (0x71FD4D, 0x71FED7, "gzip",   "moconr1.raw"),
   (0x71FED7, 0x71FFE7, "gzip",   "moconr1_dl.raw"),
   (0x71FFE7, 0x72016C, "gzip",   "moconw1.raw"),
   (0x72016C, 0x72027C, "gzip",   "moconw1_dl.raw"),
   (0x72027C, 0x72041A, "gzip",   "mocong1.raw"),
   (0x72041A, 0x720538, "gzip",   "mocong1_dl.raw"),
   (0x720538, 0x7206A3, "gzip",   "mocrat1.raw"),
   (0x7206A3, 0x7207DE, "gzip",   "mocrat1_dl.raw"),
   (0x7207DE, 0x720B31, "gzip",   "mogas1.raw"),
   (0x720B31, 0x720D26, "gzip",   "mogas1_dl.raw"),
   (0x720D26, 0x721432, "gzip",   "mogas2.raw"),
   (0x721432, 0x721734, "gzip",   "mogas2_dl.raw"),
   (0x721734, 0x7218D0, "gzip",   "moconr2.raw"),
   (0x7218D0, 0x7219F2, "gzip",   "moconr2_dl.raw"),
   (0x7219F2, 0x721B76, "gzip",   "moconb2.raw"),
   (0x721B76, 0x721C86, "gzip",   "moconb2_dl.raw"),
   (0x721C86, 0x721E13, "gzip",   "moconw2.raw"),
   (0x721E13, 0x721F22, "gzip",   "moconw2_dl.raw"),
   (0x721F22, 0x7220C0, "gzip",   "mocono2.raw"),
   (0x7220C0, 0x7221DD, "gzip",   "mocono2_dl.raw"),
   (0x7221DD, 0x72237C, "gzip",   "mocong2.raw"),
   (0x72237C, 0x722499, "gzip",   "mocong2_dl.raw"),
   (0x722499, 0x72288A, "gzip",   "mowhwr1.raw"),
   (0x72288A, 0x722A82, "gzip",   "mowhwr1_dl.raw"),
   (0x722A82, 0x722E59, "gzip",   "mowhbo1.raw"),
   (0x722E59, 0x723035, "gzip",   "mowhbo1_dl.raw"),
   (0x723035, 0x723417, "gzip",   "mowhrr1.raw"),
   (0x723417, 0x7235E7, "gzip",   "mowhrr1_dl.raw"),
   (0x7235E7, 0x7239DC, "gzip",   "mowhwo1.raw"),
   (0x7239DC, 0x723BDC, "gzip",   "mowhwo1_dl.raw"),
   (0x723BDC, 0x723FD7, "gzip",   "mowhwb2.raw"),
   (0x723FD7, 0x7241D4, "gzip",   "mowhwb2_dl.raw"),
   (0x7241D4, 0x7245A3, "gzip",   "mosid1l.raw"),
   (0x7245A3, 0x724769, "gzip",   "mosid1l_dl.raw"),
   (0x724769, 0x724B8C, "gzip",   "mosid1r.raw"),
   (0x724B8C, 0x724D31, "gzip",   "mosid1r_dl.raw"),
   (0x724D31, 0x72590B, "gzip",   "mostep1.raw"),
   (0x72590B, 0x725D4C, "gzip",   "mostep1_dl.raw"),
   (0x725D4C, 0x7266A6, "gzip",   "mosky1.raw"),
   (0x7266A6, 0x7269E1, "gzip",   "mosky1_dl.raw"),
   (0x7269E1, 0x727424, "gzip",   "mosky2.raw"),
   (0x727424, 0x7277B6, "gzip",   "mosky2_dl.raw"),
   (0x7277B6, 0x728855, "gzip",   "mosky3.raw"),
   (0x728855, 0x728D44, "gzip",   "mosky3_dl.raw"),
   (0x728D44, 0x729871, "gzip",   "mosky4.raw"),
   (0x729871, 0x729C8A, "gzip",   "mosky4_dl.raw"),
   (0x729C8A, 0x72A85D, "gzip",   "mosky5.raw"),
   (0x72A85D, 0x72AC7A, "gzip",   "mosky5_dl.raw"),
   (0x72AC7A, 0x72B83E, "gzip",   "mosky6.raw"),
   (0x72B83E, 0x72BC25, "gzip",   "mosky6_dl.raw"),
   (0x72BC25, 0x72CA1A, "gzip",   "mosky7.raw"),
   (0x72CA1A, 0x72CED1, "gzip",   "mosky7_dl.raw"),
   (0x72CED1, 0x72D928, "gzip",   "mosky8.raw"),
   (0x72D928, 0x72DCFE, "gzip",   "mosky8_dl.raw"),
   (0x72DCFE, 0x72EA9D, "gzip",   "mosky9.raw"),
   (0x72EA9D, 0x72EF4F, "gzip",   "mosky9_dl.raw"),
   (0x72EF4F, 0x72F9D3, "gzip",   "mosky10.raw"),
   (0x72F9D3, 0x72FDE4, "gzip",   "mosky10_dl.raw"),
   (0x72FDE4, 0x73084A, "gzip",   "mosky11.raw"),
   (0x73084A, 0x730C57, "gzip",   "mosky11_dl.raw"),
   (0x730C57, 0x731416, "gzip",   "mosky12.raw"),
   (0x731416, 0x731815, "gzip",   "mosky12_dl.raw"),
   (0x731815, 0x73240C, "gzip",   "chfact1.raw"),
   (0x73240C, 0x7327A6, "gzip",   "chfact1_dl.raw"),
   (0x7327A6, 0x732B04, "gzip",   "chwhse1.raw"),
   (0x732B04, 0x732C58, "gzip",   "chwhse1_dl.raw"),
   (0x732C58, 0x732FF4, "gzip",   "chwhse2.raw"),
   (0x732FF4, 0x733142, "gzip",   "chwhse2_dl.raw"),
   (0x733142, 0x7334EB, "gzip",   "chwhse3.raw"),
   (0x7334EB, 0x73362E, "gzip",   "chwhse3_dl.raw"),
   (0x73362E, 0x7343C4, "gzip",   "chconc1.raw"),
   (0x7343C4, 0x734858, "gzip",   "chconc1_dl.raw"),
   (0x734858, 0x7350F6, "gzip",   "chsilo1.raw"),
   (0x7350F6, 0x735326, "gzip",   "chsilo1_dl.raw"),
   (0x735326, 0x7359A4, "gzip",   "laorphx.raw"),
   (0x7359A4, 0x735C1F, "gzip",   "laorphx_dl.raw"),
   (0x735C1F, 0x73601F, "gzip",   "lapcab1.raw"),
   (0x73601F, 0x7361BA, "gzip",   "lapcab1_dl.raw"),
   (0x7361BA, 0x736F27, "gzip",   "laslid1.raw"),
   (0x736F27, 0x737366, "gzip",   "laslid1_dl.raw"),
   (0x737366, 0x7385D3, "gzip",   "laconc1.raw"),
   (0x7385D3, 0x738987, "gzip",   "laconc1_dl.raw"),
   (0x738987, 0x738E49, "gzip",   "labuil1.raw"),
   (0x738E49, 0x739009, "gzip",   "labuil1_dl.raw"),
   (0x739009, 0x739445, "gzip",   "lastor1.raw"),
   (0x739445, 0x739598, "gzip",   "lastor1_dl.raw"),
   (0x739598, 0x739932, "gzip",   "lamscf.raw"),
   (0x739932, 0x739A7B, "gzip",   "lamscf_dl.raw"),
   (0x739A7B, 0x739BED, "gzip",   "chpost1.raw"),
   (0x739BED, 0x739CBB, "gzip",   "chpost1_dl.raw"),
   (0x739CBB, 0x73AAF7, "gzip",   "chdes3.raw"),
   (0x73AAF7, 0x73B033, "gzip",   "chdes3_dl.raw"),
   (0x73B033, 0x73B189, "gzip",   "modam2.raw"),
   (0x73B189, 0x73B282, "gzip",   "modam2_dl.raw"),
   (0x73B282, 0x73B52E, "gzip",   "dsout1.raw"),
   (0x73B52E, 0x73B642, "gzip",   "dsout1_dl.raw"),
   (0x73B642, 0x73B843, "gzip",   "dspylo1.raw"),
   (0x73B843, 0x73B94E, "gzip",   "dspylo1_dl.raw"),
   (0x73B94E, 0x73BF48, "gzip",   "laft15b.raw"),
   (0x73BF48, 0x73C0E3, "gzip",   "laft15b_dl.raw"),
   (0x73C0E3, 0x73CB47, "gzip",   "mocons1.raw"),
   (0x73CB47, 0x73CE8D, "gzip",   "mocons1_dl.raw"),
   (0x73CE8D, 0x73D8E7, "gzip",   "mocons2.raw"),
   (0x73D8E7, 0x73DBD3, "gzip",   "mocons2_dl.raw"),
   (0x73DBD3, 0x73E535, "gzip",   "mocons3.raw"),
   (0x73E535, 0x73E7EC, "gzip",   "mocons3_dl.raw"),
   (0x73E7EC, 0x73F1F6, "gzip",   "mocons4.raw"),
   (0x73F1F6, 0x73F54F, "gzip",   "mocons4_dl.raw"),
   (0x73F54F, 0x73FF14, "gzip",   "mocons5.raw"),
   (0x73FF14, 0x74022D, "gzip",   "mocons5_dl.raw"),
   (0x74022D, 0x740B56, "gzip",   "mocons6.raw"),
   (0x740B56, 0x740E11, "gzip",   "mocons6_dl.raw"),
   (0x740E11, 0x741890, "gzip",   "moboat1.raw"),
   (0x741890, 0x741BF0, "gzip",   "moboat1_dl.raw"),
   (0x741BF0, 0x742118, "gzip",   "mosid2t.raw"),
   (0x742118, 0x7423B3, "gzip",   "mosid2t_dl.raw"),
   (0x7423B3, 0x7427DE, "gzip",   "mosid2b.raw"),
   (0x7427DE, 0x7429C9, "gzip",   "mosid2b_dl.raw"),
   (0x7429C9, 0x742E38, "gzip",   "mosid3l.raw"),
   (0x742E38, 0x742FFC, "gzip",   "mosid3l_dl.raw"),
   (0x742FFC, 0x743520, "gzip",   "mosid3r.raw"),
   (0x743520, 0x74379D, "gzip",   "mosid3r_dl.raw"),
   (0x74379D, 0x7440ED, "gzip",   "mosid5t.raw"),
   (0x7440ED, 0x74440C, "gzip",   "mosid5t_dl.raw"),
   (0x74440C, 0x744B77, "gzip",   "mosid5b.raw"),
   (0x744B77, 0x744DDB, "gzip",   "mosid5b_dl.raw"),
   (0x744DDB, 0x7451FD, "gzip",   "mosid6t.raw"),
   (0x7451FD, 0x7453B8, "gzip",   "mosid6t_dl.raw"),
   (0x7453B8, 0x7457CF, "gzip",   "mosid6b.raw"),
   (0x7457CF, 0x7459AA, "gzip",   "mosid6b_dl.raw"),
   (0x7459AA, 0x746661, "gzip",   "mocast2.raw"),
   (0x746661, 0x746AA1, "gzip",   "mocast2_dl.raw"),
   (0x746AA1, 0x7475A3, "gzip",   "mocran1.raw"),
   (0x7475A3, 0x74799D, "gzip",   "mocran1_dl.raw"),
   (0x74799D, 0x7484CB, "gzip",   "mocran2.raw"),
   (0x7484CB, 0x7488C5, "gzip",   "mocran2_dl.raw"),
   (0x7488C5, 0x74937E, "gzip",   "moboat2.raw"),
   (0x74937E, 0x749744, "gzip",   "moboat2_dl.raw"),
   (0x749744, 0x749B54, "gzip",   "labigox.raw"),
   (0x749B54, 0x749D89, "gzip",   "labigox_dl.raw"),
   (0x749D89, 0x74A807, "gzip",   "chhseb.raw"),
   (0x74A807, 0x74AB6C, "gzip",   "chhseb_dl.raw"),
   (0x74AB6C, 0x74AD05, "gzip",   "lasup1.raw"),
   (0x74AD05, 0x74AE00, "gzip",   "lasup1_dl.raw"),
   (0x74AE00, 0x74AFF6, "gzip",   "lamsc10.raw"),
   (0x74AFF6, 0x74B0F1, "gzip",   "lamsc10_dl.raw"),
   (0x74B0F1, 0x74B46F, "gzip",   "chvalfm.raw"),
   (0x74B46F, 0x74B587, "gzip",   "chvalfm_dl.raw"),
   (0x74B587, 0x74C2F1, "gzip",   "mohot1.raw"),
   (0x74C2F1, 0x74C7F7, "gzip",   "mohot1_dl.raw"),
   (0x74C7F7, 0x74D2DE, "gzip",   "mohot2.raw"),
   (0x74D2DE, 0x74D746, "gzip",   "mohot2_dl.raw"),
   (0x74D746, 0x74E53B, "gzip",   "mohot3.raw"),
   (0x74E53B, 0x74E8DA, "gzip",   "mohot3_dl.raw"),
   (0x74E8DA, 0x74F480, "gzip",   "chhse40.raw"),
   (0x74F480, 0x74F770, "gzip",   "chhse40_dl.raw"),
   (0x74F770, 0x7503FC, "gzip",   "chhse41.raw"),
   (0x7503FC, 0x75075C, "gzip",   "chhse41_dl.raw"),
   (0x75075C, 0x750BC2, "gzip",   "la2gsx.raw"),
   (0x750BC2, 0x750DC3, "gzip",   "la2gsx_dl.raw"),
   (0x750DC3, 0x751DCA, "gzip",   "mohot4.raw"),
   (0x751DCA, 0x7522EE, "gzip",   "mohot4_dl.raw"),
   (0x7522EE, 0x75335C, "gzip",   "mohot5.raw"),
   (0x75335C, 0x75390C, "gzip",   "mohot5_dl.raw"),
   (0x75390C, 0x753E5C, "gzip",   "token1.raw"),
   (0x753E5C, 0x754084, "gzip",   "token1_dl.raw"),
   (0x754084, 0x754284, "gzip",   "moart1.raw"),
   (0x754284, 0x7543E5, "gzip",   "moart1_dl.raw"),
   (0x7543E5, 0x754DB1, "gzip",   "larock1.raw"),
   (0x754DB1, 0x7550B2, "gzip",   "larock1_dl.raw"),
   (0x7550B2, 0x7559DA, "gzip",   "larock2.raw"),
   (0x7559DA, 0x755CBB, "gzip",   "larock2_dl.raw"),
   (0x755CBB, 0x756688, "gzip",   "ball1.raw"),
   (0x756688, 0x756956, "gzip",   "ball1_dl.raw"),
   (0x756956, 0x757750, "gzip",   "ball2.raw"),
   (0x757750, 0x757AC6, "gzip",   "ball2_dl.raw"),
   (0x757AC6, 0x758770, "gzip",   "ball3.raw"),
   (0x758770, 0x758A31, "gzip",   "ball3_dl.raw"),
   (0x758A31, 0x758DF3, "gzip",   "float1.raw"),
   (0x758DF3, 0x758FBD, "gzip",   "float1_dl.raw"),
   (0x758FBD, 0x759860, "gzip",   "cohse1.raw"),
   (0x759860, 0x759A85, "gzip",   "cohse1_dl.raw"),
   (0x759A85, 0x75A090, "gzip",   "cohse2.raw"),
   (0x75A090, 0x75A301, "gzip",   "cohse2_dl.raw"),
   (0x75A301, 0x75A541, "gzip",   "lablk1.raw"),
   (0x75A541, 0x75A6C5, "gzip",   "lablk1_dl.raw"),
   (0x75A6C5, 0x75B065, "gzip",   "stbac1.raw"),
   (0x75B065, 0x75B3CA, "gzip",   "stbac1_dl.raw"),
   (0x75B3CA, 0x75B603, "gzip",   "stbar1.raw"),
   (0x75B603, 0x75B73C, "gzip",   "stbar1_dl.raw"),
   (0x75B73C, 0x75BBFA, "gzip",   "stdnut1.raw"),
   (0x75BBFA, 0x75BDEB, "gzip",   "stdnut1_dl.raw"),
   (0x75BDEB, 0x75C450, "gzip",   "stgls1.raw"),
   (0x75C450, 0x75C6B6, "gzip",   "stgls1_dl.raw"),
   (0x75C6B6, 0x75D237, "gzip",   "stncp1.raw"),
   (0x75D237, 0x75D607, "gzip",   "stncp1_dl.raw"),
   (0x75D607, 0x75DC9C, "gzip",   "ststat1.raw"),
   (0x75DC9C, 0x75DEE6, "gzip",   "ststat1_dl.raw"),
   (0x75DEE6, 0x75E345, "gzip",   "cochim1.raw"),
   (0x75E345, 0x75E500, "gzip",   "cochim1_dl.raw"),
   (0x75E500, 0x75E9CF, "gzip",   "cohut1.raw"),
   (0x75E9CF, 0x75EBC5, "gzip",   "cohut1_dl.raw"),
   (0x75EBC5, 0x75EFDF, "gzip",   "copit1.raw"),
   (0x75EFDF, 0x75F183, "gzip",   "copit1_dl.raw"),
   (0x75F183, 0x75FBB7, "gzip",   "palite2.raw"),
   (0x75FBB7, 0x75FE51, "gzip",   "palite2_dl.raw"),
   (0x75FE51, 0x7606F7, "gzip",   "pacran1.raw"),
   (0x7606F7, 0x760AF1, "gzip",   "pacran1_dl.raw"),
   (0x760AF1, 0x7614BF, "gzip",   "lafire3.raw"),
   (0x7614BF, 0x761856, "gzip",   "lafire3_dl.raw"),
   (0x761856, 0x761F2D, "gzip",   "lafire4.raw"),
   (0x761F2D, 0x762225, "gzip",   "lafire4_dl.raw"),
   (0x762225, 0x762C21, "gzip",   "lanewf3.raw"),
   (0x762C21, 0x76307C, "gzip",   "lanewf3_dl.raw"),
   (0x76307C, 0x763AE7, "gzip",   "lasky1.raw"),
   (0x763AE7, 0x763EAD, "gzip",   "lasky1_dl.raw"),
   (0x763EAD, 0x7648F5, "gzip",   "lasky2.raw"),
   (0x7648F5, 0x764CC0, "gzip",   "lasky2_dl.raw"),
   (0x764CC0, 0x764D7F, "gzip",   "door1.raw"),
   (0x764D7F, 0x764E1D, "gzip",   "door1_dl.raw"),
   (0x764E1D, 0x764EDC, "gzip",   "door2.raw"),
   (0x764EDC, 0x764F7A, "gzip",   "door2_dl.raw"),
   (0x764F7A, 0x76549B, "gzip",   "mohot1a.raw"),
   (0x76549B, 0x765771, "gzip",   "mohot1a_dl.raw"),
   (0x765771, 0x765B5F, "gzip",   "mohot1b.raw"),
   (0x765B5F, 0x765DCD, "gzip",   "mohot1b_dl.raw"),
   (0x765DCD, 0x7660FD, "gzip",   "mohot1c.raw"),
   (0x7660FD, 0x7662FC, "gzip",   "mohot1c_dl.raw"),
   (0x7662FC, 0x7665E6, "gzip",   "mohot1d.raw"),
   (0x7665E6, 0x7667B2, "gzip",   "mohot1d_dl.raw"),
   (0x7667B2, 0x766A3C, "gzip",   "mohot2a.raw"),
   (0x766A3C, 0x766BB9, "gzip",   "mohot2a_dl.raw"),
   (0x766BB9, 0x766F3E, "gzip",   "mohot2b.raw"),
   (0x766F3E, 0x767164, "gzip",   "mohot2b_dl.raw"),
   (0x767164, 0x7673F1, "gzip",   "mohot2c.raw"),
   (0x7673F1, 0x76757A, "gzip",   "mohot2c_dl.raw"),
   (0x76757A, 0x76790B, "gzip",   "mohot2d.raw"),
   (0x76790B, 0x767B64, "gzip",   "mohot2d_dl.raw"),
   (0x767B64, 0x767F90, "gzip",   "mohot3a.raw"),
   (0x767F90, 0x7681FA, "gzip",   "mohot3a_dl.raw"),
   (0x7681FA, 0x768539, "gzip",   "mohot3b.raw"),
   (0x768539, 0x768714, "gzip",   "mohot3b_dl.raw"),
   (0x768714, 0x768AF7, "gzip",   "mohot3c.raw"),
   (0x768AF7, 0x768D0C, "gzip",   "mohot3c_dl.raw"),
   (0x768D0C, 0x768F8B, "gzip",   "mohot3d.raw"),
   (0x768F8B, 0x7690D7, "gzip",   "mohot3d_dl.raw"),
   (0x7690D7, 0x76A05E, "gzip",   "head1.raw"),
   (0x76A05E, 0x76A5EE, "gzip",   "head1_dl.raw"),
   (0x76A5EE, 0x76B6B2, "gzip",   "head2.raw"),
   (0x76B6B2, 0x76BD7C, "gzip",   "head2_dl.raw"),
   (0x76BD7C, 0x76CD43, "gzip",   "head3.raw"),
   (0x76CD43, 0x76D2FA, "gzip",   "head3_dl.raw"),
   (0x76D2FA, 0x76DD11, "gzip",   "head4.raw"),
   (0x76DD11, 0x76E2E5, "gzip",   "head4_dl.raw"),
   (0x76E2E5, 0x76F1A6, "gzip",   "mostat1.raw"),
   (0x76F1A6, 0x76F5EE, "gzip",   "mostat1_dl.raw"),
   (0x76F5EE, 0x76F751, "gzip",   "cork1.raw"),
   (0x76F751, 0x76F81D, "gzip",   "cork1_dl.raw"),
   (0x76F81D, 0x7700CC, "gzip",   "ghdig1.raw"),
   (0x7700CC, 0x7703AE, "gzip",   "ghdig1_dl.raw"),
   (0x7703AE, 0x770518, "gzip",   "mocrat2.raw"),
   (0x770518, 0x770653, "gzip",   "mocrat2_dl.raw"),
   (0x770653, 0x770F0A, "gzip",   "ghdig2.raw"),
   (0x770F0A, 0x7711FD, "gzip",   "ghdig2_dl.raw"),
   (0x7711FD, 0x771B86, "gzip",   "ghdig3.raw"),
   (0x771B86, 0x771E6E, "gzip",   "ghdig3_dl.raw"),
   (0x771E6E, 0x7727D4, "gzip",   "ghdig4.raw"),
   (0x7727D4, 0x772ACB, "gzip",   "ghdig4_dl.raw"),
   (0x772ACB, 0x772FBF, "gzip",   "modam3.raw"),
   (0x772FBF, 0x7731C6, "gzip",   "modam3_dl.raw"),
   (0x7731C6, 0x773A65, "gzip",   "cohse3.raw"),
   (0x773A65, 0x773C8A, "gzip",   "cohse3_dl.raw"),
   (0x773C8A, 0x7749AC, "gzip",   "cohse4.raw"),
   (0x7749AC, 0x774CAF, "gzip",   "cohse4_dl.raw"),
   (0x774CAF, 0x775410, "gzip",   "cohse5.raw"),
   (0x775410, 0x775635, "gzip",   "cohse5_dl.raw"),
   (0x775635, 0x7761B5, "gzip",   "cohse6.raw"),
   (0x7761B5, 0x7764B8, "gzip",   "cohse6_dl.raw"),
   (0x7764B8, 0x776E9F, "gzip",   "cosqr1.raw"),
   (0x776E9F, 0x77719A, "gzip",   "cosqr1_dl.raw"),
   (0x77719A, 0x7774F7, "gzip",   "coshd1.raw"),
   (0x7774F7, 0x77762D, "gzip",   "coshd1_dl.raw"),
   (0x77762D, 0x777AFC, "gzip",   "cohut1.raw"),
   (0x777AFC, 0x777CF2, "gzip",   "cohut1_dl.raw"),
   (0x777CF2, 0x778061, "gzip",   "costor2.raw"),
   (0x778061, 0x778200, "gzip",   "costor2_dl.raw"),
   (0x778200, 0x778616, "gzip",   "colong2.raw"),
   (0x778616, 0x77879F, "gzip",   "colong2_dl.raw"),
   (0x77879F, 0x778A2B, "gzip",   "cochim2.raw"),
   (0x778A2B, 0x778B71, "gzip",   "cochim2_dl.raw"),
   (0x778B71, 0x778FEB, "gzip",   "copit2.raw"),
   (0x778FEB, 0x7791E9, "gzip",   "copit2_dl.raw"),
   (0x7791E9, 0x779830, "gzip",   "cosid4.raw"),
   (0x779830, 0x779ABE, "gzip",   "cosid4_dl.raw"),
   (0x779ABE, 0x77A5A2, "gzip",   "cofact2.raw"),
   (0x77A5A2, 0x77A936, "gzip",   "cofact2_dl.raw"),
   (0x77A936, 0x77AB75, "gzip",   "corail2.raw"),
   (0x77AB75, 0x77AC95, "gzip",   "corail2_dl.raw"),
   (0x77AC95, 0x77B755, "gzip",   "spcen1.raw"),
   (0x77B755, 0x77BB06, "gzip",   "spcen1_dl.raw"),
   (0x77BB06, 0x77BEC4, "gzip",   "sparmn1.raw"),
   (0x77BEC4, 0x77C0D8, "gzip",   "sparmn1_dl.raw"),
   (0x77C0D8, 0x77C49B, "gzip",   "sparme1.raw"),
   (0x77C49B, 0x77C6AF, "gzip",   "sparme1_dl.raw"),
   (0x77C6AF, 0x77CA6B, "gzip",   "sparmw1.raw"),
   (0x77CA6B, 0x77CC81, "gzip",   "sparmw1_dl.raw"),
   (0x77CC81, 0x77D027, "gzip",   "sparms1.raw"),
   (0x77D027, 0x77D23D, "gzip",   "sparms1_dl.raw"),
   (0x77D23D, 0x77DAD0, "gzip",   "spbox1.raw"),
   (0x77DAD0, 0x77DDFB, "gzip",   "spbox1_dl.raw"),
   (0x77DDFB, 0x77E101, "gzip",   "spsola1.raw"),
   (0x77E101, 0x77E278, "gzip",   "spsola1_dl.raw"),
   (0x77E278, 0x77E589, "gzip",   "spsola2.raw"),
   (0x77E589, 0x77E701, "gzip",   "spsola2_dl.raw"),
   (0x77E701, 0x77E9C9, "gzip",   "spsola3.raw"),
   (0x77E9C9, 0x77EB40, "gzip",   "spsola3_dl.raw"),
   (0x77EB40, 0x77EF51, "gzip",   "spcons1.raw"),
   (0x77EF51, 0x77F0C1, "gzip",   "spcons1_dl.raw"),
   (0x77F0C1, 0x77F81B, "gzip",   "spcons2.raw"),
   (0x77F81B, 0x77FA70, "gzip",   "spcons2_dl.raw"),
   (0x77FA70, 0x77FF6E, "gzip",   "spcons3.raw"),
   (0x77FF6E, 0x78011C, "gzip",   "spcons3_dl.raw"),
   (0x78011C, 0x7814A5, "gzip",   "spflt1.raw"),
   (0x7814A5, 0x78192C, "gzip",   "spflt1_dl.raw"),
   (0x78192C, 0x781EC0, "gzip",   "shnob1.raw"),
   (0x781EC0, 0x782142, "gzip",   "shnob1_dl.raw"),
   (0x782142, 0x782381, "gzip",   "desflt1.raw"),
   (0x782381, 0x7824FB, "gzip",   "desflt1_dl.raw"),
   (0x7824FB, 0x782798, "gzip",   "desflt2.raw"),
   (0x782798, 0x782934, "gzip",   "desflt2_dl.raw"),
   (0x782934, 0x782AD0, "gzip",   "desnew1.raw"),
   (0x782AD0, 0x782BCE, "gzip",   "desnew1_dl.raw"),
   (0x782BCE, 0x782D78, "gzip",   "desnew2.raw"),
   (0x782D78, 0x782E7A, "gzip",   "desnew2_dl.raw"),
   (0x782E7A, 0x783BC0, "gzip",   "desnew3.raw"),
   (0x783BC0, 0x784093, "gzip",   "desnew3_dl.raw"),
   (0x784093, 0x784327, "gzip",   "desnew4.raw"),
   (0x784327, 0x7844CD, "gzip",   "desnew4_dl.raw"),
   (0x7844CD, 0x784789, "gzip",   "destow1.raw"),
   (0x784789, 0x784928, "gzip",   "destow1_dl.raw"),
   (0x784928, 0x7851E9, "gzip",   "laezflt.raw"),
   (0x7851E9, 0x78552E, "gzip",   "laezflt_dl.raw"),
   (0x78552E, 0x7856BC, "gzip",   "lapump1.raw"),
   (0x7856BC, 0x78577D, "gzip",   "lapump1_dl.raw"),
   (0x78577D, 0x785933, "gzip",   "chpump1.raw"),
   (0x785933, 0x785A0A, "gzip",   "chpump1_dl.raw"),
   (0x785A0A, 0x785EC4, "gzip",   "endsid1.raw"),
   (0x785EC4, 0x786042, "gzip",   "endsid1_dl.raw"),
   (0x786042, 0x786556, "gzip",   "endsid2.raw"),
   (0x786556, 0x786702, "gzip",   "endsid2_dl.raw"),
   (0x786702, 0x786DDC, "gzip",   "endsid3.raw"),
   (0x786DDC, 0x786FAD, "gzip",   "endsid3_dl.raw"),
   (0x786FAD, 0x7875A2, "gzip",   "endsid4.raw"),
   (0x7875A2, 0x78776F, "gzip",   "endsid4_dl.raw"),
   (0x78776F, 0x787D6F, "gzip",   "endsid5.raw"),
   (0x787D6F, 0x787FD0, "gzip",   "endsid5_dl.raw"),
   // hd_code_text is copied to 0x80000400 and then inflated to 0x802447c0? by proc_80220998
   (0x787FD0, 0x7D73B4, "gzip",   "hd_code_text.raw"),
   (0x7D73B4, 0x7E3AD0, "gzip",   "hd_code_data.raw", (
      // TODO: many of these are just guesses
      (0x10E30, "rgba", 32,  16, 16),
      (0x11230, "rgba", 32,  16, 16),
      (0x12180, "rgba", 32,  32, 30),
      (0x142E0, "rgba", 16,  32, 32),
      (0x16B68,   "ia", 16,  32, 32))
   ),
   (0x7E3AD0, 0x7F63A1, "gzip",   "hd_front_end_text.raw"),
   (0x7F63A1, 0x7F9BD5, "gzip",   "hd_front_end_data.raw", (
      // TODO: many of these are just guesses
      (0x004B0, "rgba", 16,  32, 32),
      (0x00FE8, "rgba", 16,  32, 32),
      (0x01B1E, "rgba", 16,  32, 32),
      (0x02658, "rgba", 16,  32, 32))
   )
);

// Labels for functions or data memory addresses
// All label addresses are RAM addresses
// Order does not matter
labels =
(
   (0x8021ED00, "EntryPoint"),
   (0x80220730, "Main", 0x802208F8),
   (0x80220BA0, "bzero"),
   (0x80220C40, "osInitialize"),
   (0x80220E70, "DmaCopy"),
   (0x80220F50, "GetDmaStatus"),
   (0x80220F70, "__osGetSR"),
   (0x80220F80, "__osSetFpcCsr"),
   (0x80220F90, "__osSiRawReadIo"),
   (0x80220FE0, "__osSiRawWriteIo"),
   (0x802218A0, "osWriteBackDCache"),
   (0x80221920, "osInvalCache"),
   (0x80221A00, "osEPiRawReadIo"),
   (0x80221AC8, "__ull_div"),
   (0x80221BC8, "__ll_mul"),
   (0x80221DE0, "__osSiDeviceBusy"),
   (0x802447C0, "MainJump", 0x802457C0)
);
